In [38]:
import sqlite3 as sq
connection = sq.connect("sale.db")

In [39]:
cursor = sq.Cursor(connection)
cursor.execute('''
create table if not exists employee(
emp_id int primary key,
emp_name text not null,
sal int not null )''')
connection.commit()

In [40]:
cursor.execute('''insert into employee(emp_id,emp_name,sal) values(121,'haarsha',30000)''')

In [41]:
def fetch():
    cursor.execute(''' select * from employee''')
    record = cursor.fetchall()
    for row in record:
        print(row)

In [42]:
def insert(record):
    cursor.executemany('''insert into employee(emp_id,emp_name,sal) values(?,?,?)''',record)
record =[(130,'haarsha',30000),(131,'haarsha',30000),(133,'haarsha',30000),(134,'haarsha',30000)]
insert(record)

In [43]:
fetch()

(121, 'haarsha', 30000)
(130, 'haarsha', 30000)
(131, 'haarsha', 30000)
(133, 'haarsha', 30000)
(134, 'haarsha', 30000)

In [44]:
cursor.execute('''
update employee
set sal=34000
where emp_id=101''')

In [45]:
fetch()

(121, 'haarsha', 30000)
(130, 'haarsha', 30000)
(131, 'haarsha', 30000)
(133, 'haarsha', 30000)
(134, 'haarsha', 30000)

In [46]:
#cursor.execute('''drop table employee''')
cursor.execute('''delete from  employee where emp_id= 101''')
fetch()

(121, 'haarsha', 30000)
(130, 'haarsha', 30000)
(131, 'haarsha', 30000)
(133, 'haarsha', 30000)
(134, 'haarsha', 30000)

In [47]:
cursor.execute('''drop table employee''')
connection.commit()